
// HEIGHT & WIDTH
@mixin wh(
    $h: auto,
    $w: auto
) {
    height: $h;
    width: $w;
    @content;
}

// MEDIA QUERIES
@mixin mq($break) {
    $value: map-get($breakpoints, $break);
    @media (min-width: $value) {
        @content;
    }
}

// FLEXBOX
@mixin flexy(
    $disp: flex,
    $dir: null,
    $wrap: null,
    $ali: null,
    $just: null
) {
    display: $disp;
    flex-direction: $dir;
    flex-wrap: $wrap;
    align-items: $ali;
    justify-content: $just;
}

// GRID
@mixin gridboi(
    $disp: grid,
    $col-temp: null,
    $col-auto: null,
    $row-temp: null,
    $row-auto: null,
    $just-cont: null,
    $just-item: null,
    $ali-cont: null,
    $ali-item: null,
    $col-gap: null,
    $row-gap: null
) {
    display: $disp;
    grid-template-columns: $col-temp;
    grid-auto-columns: $col-auto;
    grid-template-rows: $row-temp;
    grid-auto-rows: $row-auto;
    justify-content: $just-cont;
    justify-items: $just-item;
    align-content: $ali-cont;
    align-items: $ali-item;
    grid-column-gap: $col-gap;
    grid-row-gap: $row-gap;
}

// SPECIFIC MIXINS
// notification dot
@mixin dot() {
    @include wh($h: 12px, $w: 12px);
    background-color: $color-green;
    border-radius: 50%;
}

// widget starter
@mixin widget(
    $marg: 15px 20px,
    $pad: null,
    $bord: $border-light,
    $wid: 87vw
) {
    margin: $marg;
    padding: $pad;
    border-bottom: $bord;
    width: $wid;
}

// member block
@mixin memblock() {
    @include flexy($dir: row);
      border-bottom: 1px solid lighten(lightgrey, 10%);
      &-image {
        @include wh($w: 60px, $h: 60px);
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 15px;
        img {
          @include wh($h: 100%);
          display: inline;
          margin: 0 auto;
        }
      }
}

// settings toggles (ON of OFF)
@mixin toggle() {
    position: absolute;
    font-size: 1em;
    z-index: 1;
    pointer-events: none;
}

// switch functionality
@mixin switchy() {
    & ~ p.toggle-on {
        display: none;
    }
    &:checked  ~ p.toggle-off {
        visibility: hidden;
    }
    &:checked ~ p.toggle-on {
        display: block;
    }
}

// settings buttons
@mixin setbut(
    $back: null
) {
    background: $back;
    color: $color-white;
    font-weight: bold;
    border: 0;
    border-radius: 7px;
    height: 50px;
    outline: none;
}