
// FONTS
$font-primary: 'Fira Sans', sans-serif;

// BREAKPOINTS
$breakpoints: (
    'one'   : 380px,
    'two'   : 500px,
    'three' : 600px,
    'four'  : 768px,
    'five'  : 1024px,
    'six'   : 1250px
);

// COLORS
$color-white: #FFFFFF;
$color-off-white: #FBFBFB;
$color-indigo: #7477BF;
$color-deep-purple: #4D4C72;

