
.alert-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: $color-indigo;
  border-radius: 5px;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: $color-white;
  p {
    font-size: .7em;
    width: 80%;
  }
  h3 {
    margin: 0;
  }
}
