
.alert-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: $color-indigo;
  border-radius: 5px;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: $color-white;
  @media (min-width: 600px) {
    margin: 15px;
  }
  @media (min-width: 768px) {
    justify-content: space-between;
  }
  p {
    font-size: .7em;
    width: 80%;
    @media (min-width: 500px) {
      font-size: .8em;
    }
    @media (min-width: 600px) {
      font-size: 1em;
    }
    @media (min-width: 768px) {
      width: 100%;
      text-align: center;
    }
  }
  h3 {
    margin: 0;
    @media (min-width: 768px) {
      margin: 0 10px 0 10px;
    }
  }
  button {
    @media (min-width: 768px) {
      margin: 0 10px 0 10px;
    }
  }
}

.alert-box {
  width: 100%;
}