
.daily-traffic {
  margin: 15px 20px;
  border-bottom: lightgrey solid 1px;
  width: 87vw;
  canvas {
    margin: 20px 0;
  }
  @media (min-width: 768px) {
    width: 50vw;
    margin: 0;
    padding: 15px 20px;
    border-right: lightgrey solid 1px;
  }
  @media (min-width: 1024px) {
    width: 100%;
  }
}
