
.daily-traffic {
  margin: 15px 20px;
  border-bottom: lightgrey solid 1px;
  width: 87vw;
  canvas {
    margin: 20px 0;
  }
  @include mq("four") {
    width: 50vw;
    margin: 0;
    padding: 15px 20px;
    border-right: lightgrey solid 1px;
  }
  @include mq("five") {
    width: 100%;
    max-width: 550px;
    justify-self: end;
  }
}
