
.dashboard {
  @include flexy($dir: row, $ali: center, $just: space-around);
  width: 100%;
  h2 {
    margin: auto 15px auto 15px;
  }
  .search-bar {
    @include flexy($ali: center, $just: center);
    @include wh($h: 100%, $w: 100%);
    background-color: $color-off-white;
    border-left: $border-light;
    border-bottom: $border-light;
    position: relative;
    input {
      @include wh($h: 60%, $w: 90%);
      max-width: 350px;
      border-radius: 7px;
      border: $border-light;
      text-indent: 15px;
      font-size: 1em;
      background: white url(../icons/icon-search.svg)  no-repeat;
      background-position: 98%;
      margin: auto 5% auto auto;
      &:focus {
        outline: 0;
      }
    }
  }
}
