
// SET UP GRID
.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr;
}

.sub-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px repeat(9, auto);
  grid-template-areas:
    "dashboard"
    "alert-box"
    "traffic"
    "daily-traffic"
    "mobile-users"
    "social-stats"
    "new-members"
    "recent-activity"
    "message-user"
    "settings";
    justify-items: center;
  }

// .grid-item1 {
//   border: solid 1px black;
// }

// .grid-item2 {
//   margin: 15px 0;
// }

.dashboard {
  grid-area: dashboard;
}

.alert-box {
  grid-area: alert-box;
}

.traffic {
  grid-area: traffic;
}

.daily-traffic {
  grid-area: daily-traffic;
}

.mobile-users {
  grid-area: mobile-users;
}

.social-stats {
  grid-area: social-stats;
}

.new-members {
  grid-area: new-members;
}

.recent-activity {
  grid-area: recent-activity;
}

.message-user {
  grid-area: message-user;
}

.settings {
  grid-area: settings;
}

// allow responsiveness of charts
.chart-container {
  position: relative;
  width: 100%;
  margin: 0;
}

@media (min-width: 1024px) {
  .main-container {
    grid-template-columns: 1.3fr 16.3fr;
    grid-template-rows: 1fr;
  }

  .sub-container {
    grid-template-columns: 1fr 1fr;
  }
}