
.header {
  @include flexy($dir: row, $just: space-between, $ali: center);
  h1 {
    padding-left: 5px;
  }
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-10deg);}
  100% {transform: rotate(0deg);}
}

.notifications {
  width: 30px;
  padding-top: 7px;
  margin-left: auto;
  margin-right: 15px;
  transition: transform .5s ease-out;
  .bell-circle {
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: #81C98F;
    border-radius: 50%;
    margin-top: -37px;
  }
  &:hover {
    animation: wiggle .5s 1;
  }
}

#notifs-box {
  @include gridboi($disp: none, $col-temp: 210px, $row-auto: 50px);
  display: none;
  position: absolute;
  right: 95px;
  top: 50px;
  background-color: $color-off-white;
  border: 2px $color-deep-purple solid;
  border-radius: 5px;
  z-index: 1;
  .notif {
    @include flexy($dir: row, $ali: center, $just: space-between);
    padding: 0 10px;
    border-bottom: 1px lightgrey solid;
    .circle {
      display: block;
      height: 12px;
      width: 12px;
      background-color: #81C98F;
      border-radius: 50%;
    }
    p {
      font-size: .7em;
      border: none;
    }
  }
  @include mq("two") {
    right: 235px;
  }
}

.current-user {
  @include flexy($dir: row);
  padding-right: 5px;
  padding-left: 15px;
  border-left: 1px solid #6568BF;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
  }
  p {
    display: none;
    color: $color-white;
    font-size: 1.1em;
    margin: auto;
    padding-left: 15px;
    @include mq("two") {
      display: inline-block;
    }
  }
}
