
.recent-activity {
  margin: 15px 20px;
  border-bottom: 1px solid lightgrey;
  width: 87vw;
  .activities-list {
    @include gridboi($col-temp: 1fr, $row-temp: repeat(4, 75px), $row-gap: 15px);
    margin-top: 30px;
    .activity {
      @include flexy($dir: row);
      border-bottom: 1px solid lighten(lightgrey, 10%);
      &-image {
        width: 60px;
        height: 60px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 15px;
        img {
          display: inline;
          margin: 0 auto;
          height: 100%;
          width: auto;
        }
      }
      &-info {
        @include flexy($dir: column, $just: center);
        flex: 1;
        height: 60px;
        p {
          margin: 0;
        }
        &-timestamp {
          margin-top: auto;
        }
      }
      &-four {
        border: 0;
      }
    }
  }
  @include mq("four") {
    width: 50vw;
    margin: 0;
    padding: 15px 20px;
  }
  @include mq("five") {
    width: 100%;
    max-width: 550px;
    justify-self: start;
  }
}
