
.side-bar {
  display: flex;
  align-items: center;
  background-color: $color-deep-purple;
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    a img {
      width: 30px;
    }
  }
}
