
.side-bar {
  @include flexy($ali: center);
  background-color: $color-deep-purple;
  width: 100%;
  @include mq("five") {
    align-items: flex-start;
  }
  nav {
    @include flexy($dir: row, $just: space-evenly);
    width: 100%;
    @include mq('five') {
      flex-direction: column;
      margin-top: 25px;  
    }
    a {
      @include flexy($just: center);
      @include wh($h: 60px, $w: 70px);
      border: 5px solid transparent;
      @include mq("five") {
        @include wh($h: 70px);
      }
      &.active {
        border-bottom: 5px solid $color-green;
        @include mq("five") {
          border: 5px solid transparent;
          border-left: 5px solid $color-green;
        }
      }
      img {
        width: 30px;
        pointer-events: none;
        @include mq("five") {
          width: 35px;
        }
      }
      @include mq("five") {
        margin-bottom: 20px;
        text-align: center;  
      }
    }
  }
}
