
.social-stats {
  margin: 15px 20px;
  padding-bottom: 30px;
  border-bottom: lightgrey solid 1px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-row-gap: 30px;
  justify-items: center;
  width: 87vw;
  .social-box {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $color-off-white;
    border: 1px solid lightgrey;
    max-width: 330px;
    min-width: 277px;
    &-descript {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-right: auto;
      margin-left: 20px;
      h3 {
        color: $color-indigo;
        font-size: 1.5em;
        margin: 0;
      }
      p {
        font-size: 3em;
        margin: 0;
      }
    }
  }
  h3 {
    justify-self: start;
    @media (min-width: 768px) {
      grid-area: social-title;
    }
  }
  .twitter {
    @media (min-width: 768px) {
      grid-area: twitter;
      justify-self: end;
    }
    @media (min-width: 1024px) {
      justify-self: center;
    }
  }
  .facebook {
    @media (min-width: 768px) {
      grid-area: facebook;
      justify-self: start;
    }
    @media (min-width: 1024px) {
      justify-self: center;
    }
  }
  .google-plus {
    @media (min-width: 768px) {
      grid-area: google-plus;
    }
  }
  @media (min-width: 768px) {
    width: 100vw;
    margin: 0;
    padding: 30px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "social-title social-title"
    "twitter facebook"
    "google-plus google-plus";
  }
  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "social-title social-title social-title"
    "twitter facebook google-plus";
    width: 100%;
  }
}

.icon-social {
  width: 75px;
}