
.traffic {
  margin: 15px 20px;
  border-bottom: lightgrey solid 1px;
  width: 87vw;
  padding-bottom: 10px;
  .traffic-chart-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    h4 {
      margin: 0;
    }
    li {
      border-radius: 20px;
      padding: 5px 10px;
      @media (min-width: 500px) {
        font-size: 1.1em;
      }
      &.active {
        color: $color-white;
        background-color: #81c98f;
      }
    }
  }
  @media (min-width: 768px) {
    margin: 0;
    padding: 15px 20px;
    width: 100vw;
    .chart-container {
      height: 230px;
    }
  }
  @media (min-width: 1024px) {
    width: 100%;
  }
}