
.traffic {
  @include widget();
  padding-bottom: 10px;
  @include mq("four") {
    @include widget($marg: 0, $pad: 15px 20px, $wid: 100vw);
  }
  @include mq("five") {
    width: 100%;
    max-width: 1100px;
  }
  .traffic-chart-nav {
    @include flexy($dir: row, $just: flex-end);
    h4 {
      margin: 0;
    }
    li {
      border-radius: 20px;
      padding: 5px 10px;
      @include mq("two") {
        font-size: 1.1em;
      }
      &.active {
        color: $color-white;
        background-color: #81c98f;
      }
    }
  }
  .chart-container {
    height: 180px;
    @include mq("four") {
      height: 280px;
    }
  }
}