
.traffic {
  margin: 15px 20px;
  border-bottom: lightgrey solid 1px;
  width: 87vw;
  .traffic-chart-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    h4 {
      margin: 0;
    }
    li {
      border-radius: 20px;
      padding: 5px 10px;
      &.active {
        color: $color-white;
        background-color: #81c98f;
      }
    }
  }
}